/*body{
  background-color: rgb(0,0,255);
background-image: url("https://tse4.mm.bing.net/th?id=OIP.aC2cwsZx0BDGJ1SP5EqA7QHaFj&pid=Api&P=0&h=180");
background-repeat: no-repeat;
background-position: right bottom;
background-attachment: scroll;
}*/